---
const { foto } = Astro.props;
---

<div>
  <img  class="h-auto m-3 max-w-full rounded-lg shadow-2xl hover:-translate-y-[5px] transition-all dark:shadow-2xl" src={"http://localhost:8080/cms/assets/images/galeri/" + foto} alt="Image Gallery" />
</div>
