---
// interface Props {
//   withoutImage?: boolean;
// }

// const { withoutImage } = Astro.props;

const { content, photo } = Astro.props;
import Img from "../components/Img.astro";
---

<div class="w-full max-w-5xl p-5 pb-10 mx-auto mb-10 gap-5 columns-2 lg:columns-4 space-y-5 md:grid-cols-4 lg:py-16 lg:px-6">
  {
    content.map(({ slug, foto }) => (
      <a href={"/gallery/" + slug}>
        <Img foto={foto}/>
      </a>
    ))
  }
</div>

<div class="fixed w-full z-50 h-full flex justify-center items-center bottom-0 top-0 backdrop-brightness-50">
  <div class="w-full max-w-5xl bottom-56 left-[440px]" transition:animate="fade">
    <a href="/gallery" class="text-white">Back</a>
    <img class="h-auto m-3 max-w-full rounded-lg shadow-2xl transition-all dark:shadow-2xl" src={"http://localhost:8080/cms/assets/images/galeri/" + photo.foto} />
  </div>
</div>
